.main-body{
  width: 70%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
.search-bar{
  display: block;
  width: 100%;
}
.button-div{
  display: flex;
  justify-content: flex-end;
}
.grid-div{
  display: grid;
  grid-template-columns: 30% 70%;
}
.country-span{
  display: block;
}
.country{
  overflow-y: scroll;
}
